# APP
APP_ENV=
APP_NAME=
APP_PORT=

# JWT AUTH
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=

# DATABASE
# sql
DB_TYPE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=
# mongodb
MONGODB_URI=
MONGODB_USER=
MONGODB_PASSWORD=
# redis
REDIS_HOST=
REDIS_PORT=

# SENDGRID
SENDGRID_API_KEY=
SENDGRID_PROD=
SENDER_EMAIL=

# TWILIO
TWILIO_ACCOUNT_SID=AC
TWILIO_AUTH_TOKEN=_
MESSAGE_SERVICE_SID=_

# professor rich
OPENAI_API_KEY=

# deposit
DEPOSIT_BOT_SERVER_URL=
DEPOSIT_BOT_SECRET=
CRYPTO_PRICE_API_URL=
MINIMUM_NATIVE_BALANCE_5611=

# bet
MIN_BET_AMOUNT=
MAX_BET_AMOUNT=
MAX_CREDIT_AMOUNT=

# mpc
MPC_SERVER_URL_1=
MPC_SERVER_URL_2=
MPC_SERVER_URL_3=

# opBNB
OPBNB_PROVIDER_RPC_URL=
OPBNB_USDT_TOKEN_ADDRESS=

# BNB
BNB_PROVIDER_RPC_URL=
BNB_USDT_TOKEN_ADDRESS=

# provider rpc url
PROVIDER_RPC_URL_56= # BNB mainnet
PROVIDER_RPC_URL_204= # opBNB mainnet
PROVIDER_RPC_URL_97= # BNB testnet
PROVIDER_RPC_URL_5611= # opBNB testnet

# contract address
GAMEUSD_CONTRACT_ADDRESS=
GAMEUSD_POOL_CONTRACT_ADDRESS=
DEPOSIT_CONTRACT_ADDRESS=
REFERRAL_CONTRACT_ADDRESS=
REDEEM_CONTRACT_ADDRESS=
BNB_PAYOUT_POOL_CONTRACT_ADDRESS=
OPBNB_PAYOUT_POOL_CONTRACT_ADDRESS=
POINT_REWARD_CONTRACT_ADDRESS=
CORE_CONTRACT_ADDRESS=
HELPER_CONTRACT_ADDRESS=

# bot address
DEPOSIT_BOT_ADDRESS=
PAYOUT_BOT_ADDRESS=
RESULT_BOT_ADDRESS=
HELPER_BOT_ADDRESS=
SUPPLY_ACCOUNT_ADDRESS= # account to supply all native token, must often check balance, need to make sure there is balance for all deposit support chain
COMMISION_DISTRIBUTOR_BOT_ADDRESS= #Address which can call distributeReferralFee()

# escrow multisig address
ESCROW_ADDRESS_56=0x # BNB mainnet
ESCROW_ADDRESS_204=0x # opBNB mainnet
ESCROW_ADDRESS_97=0x # BNB testnet
ESCROW_ADDRESS_5611=0x # opBNB testnet

# telegram
TG_SESSION_STRING=
TG_API_ID=
TG_API_HASH=

TG_ADMIN_NOTIFIER_BOT_TOKEN= # Bot token for tg notifier bot
ADMIN_TG_CHAT_ID= # Chat id of admin group where notification will be sent

TELEGRAM_OTP_BOT_TOKEN= #token of Bot that sends telegram OTP
TELEGRAM_OTP_BOT_USERNAME= #Bot's Username that sends telegram OTP
TG_LOGIN_WIDGET_BOT_TOKEN= # Bot token for login widget bot

# live bet
EXPLORER_BASE_URL=

# others
BASE_CHAIN_ID=

# FUYO Game
WEBHOOK_SECRET_TOKEN=
MINI_GAME_NOTIFICATION_ENDPOINT=
MINI_GAME_USDT_SENDER= #address of USDT sender.

# SLACK
SLACK_TOKEN=
SLACK_CHANNEL_ID=