<html>

  <head>
    <meta charset="utf-8">
    <title>4DGPT | Unedited</title>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" content="4DGPT | Unedited"/>
    <meta name="description" content="4DGPT | Unedited"/>
    <meta property="og:title" content="4DGPT | Unedited">
    <meta content="4DGPT | Unedited" property="og:description">
    <meta content="4DGPT | Unedited" property="twitter:description">
    <meta content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA." property="twitter:image">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA.">
    <meta name="twitter:title" content="4DGPT | Unedited">
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="manifest" href="/images/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo192.png">
  </head>
<style>
    body {
        color: #101828;
        font-family: 'Inter', seif;
        font-style: normal;
        background-image: url('/images/not-found-background.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin: 0;
    }

    .title {
        color: #0C9383;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .img {
        width: 80px;
        margin: auto;
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .child-container {
        width: 500px;
        padding: 15px;
        backdrop-filter: blur(20px);
        border-radius: 32px;
        text-align: center;
    }

    .header-1 {
        font-weight: 600;
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #667085;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #667085;
        width: 480px;
        display: block;
        margin: auto;
    }

    a {
        color: #43D9BB;
        text-decoration: none;
    }

    #footer {
        backdrop-filter: brightness(0.1);
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #footer p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #98A2B3;
    }

    @media screen and (max-width: 500px) {
        body {
            background-image: url('/images/app.bg.svg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
        }

        .bg {
            width: 100%;
            height: 100%;
            bottom: 0;
            position: absolute;
            background: url('/images/not-found-background-mobile.png') no-repeat center bottom fixed;
                        -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
        }

        .content {
            width: 90%;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 16px;
            line-height: 24px;
        }

        .container {
            margin-top: 30%;
            backdrop-filter: blur(20px);
        }

        .child-container {
            width: unset;
        }

        .header-1 {
            font-size: 30px;
            line-height: 38px;
        }

        #footer {
            backdrop-filter: brightness(0.1);
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
        }
    }
</style>

<body>
    <div class="container">
        <div class="child-container">
            <img class="img" src="/images/app.icon.svg" />
            <p class="title">404 Error</p>

            <h1 class="header-1">Page not found...</h1>
            <p class="content">Sorry, the page you are looking for doesn't exist or has been moved.  <a href="#" onclick="window.history.back();">Go back</a>, or head over to <a href="{{data.appUrl}}">Dashboard</a> to choose a new direction.</p>
        </div>
    </div>
    <div class="bg"></div>
    <div id="footer">
        <p>&#169; 4DGPT 2024. All Rights Reserved.</p>
    </div>
</body>

</html>